# IntelliJ Config
.idea

# Maven
target/
.mvn
.mvn-classpath
pom.xml.bak

# node, vite
node_modules/
client/*.js
target/
build/
dist/
.env
test-results/
playwright-report/
playwright/.cache/

# mac
.DS_Store

# firebase json
server/src/main/resources/firebase_config.json
server/src/main/resources/data/beartracks-concentrations-google-sheet.json
frontend/cache_semesters/cookies.json
