@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap");

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/* Main App Layout */
.App {
  flex-grow: 1;
  overflow-y: auto;
  text-align: center;
  background-color: #ffffff;
  overflow-x: hidden;
  color: black;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  margin: 0;
  width: 100%;
  padding: 10px 20px;
  position: relative;
}

.header-and-content {
  gap: 6px;
}
.layout-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.header-sidebar-expanded {
  width: 79vw;
}

.header-sidebar-collapsed {
  width: 93vw;
}

/* Logo styling */
.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: black;
}

.logo-title {
  display: flex;
  align-items: center;
  color: black;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: 600;
  gap: 8px;
}
.logo-link:hover {
  color: #213333;
}
.logo-link:hover .logo-text {
  color: #213333;
}

.logo-text {
  font-size: 1.8rem;
  font-weight: 700;
  color: #333;
  margin: 12px 0px -10px 15px; 
  font-family: 'Gaegu', cursive;
}

.logo-icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 8px;
  margin-top: 17px; 
  margin-left: -8px; 
}

.header-search-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  max-width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-progress {
  width: 200px;
  height: 6px;
  appearance: none;
  background-color: #e0e0e0;
  border-radius: 20px;
  margin-left: 5px;
}

.logo-progress::-webkit-progress-bar {
  background-color: #e0e0e0;
  border-radius: 10px;
}

.logo-progress::-webkit-progress-value {
  background-color: #5cb85c;
  border-radius: 10px;
}
.progress-row {
  margin-top: 0px;
  display: flex;
  align-items: center;
  gap: 1vh;
  justify-content: center;
}

/* Floating Help Icon */
.floating-icon.help-icon {
  position: fixed;
  right: 20px;
  bottom: 30px;
  cursor: pointer;
  z-index: 999;
  width: 40px;
  height: 40px;
  background-color: #f2f2f2;
  border: none;
  padding: 8px;
  border-radius: 60%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease;
  color: #444444;
}

.floating-icon.help-icon:hover {
  background-color: #e2e2e2;
}

@media (max-width: 600px) {
  .App-header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 3%;
  }

  .logo {
    font-size: 18px;
  }
}

.disclaimer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.disclaimer-box {
  background-color: white;
  width: 500px;
  max-width: 90%;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  position: relative;
}

.close-disclaimer {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #777;
  padding: 0;
  line-height: 1;
}

.disclaimer-box h2 {
  margin-top: 0;
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.disclaimer-box p {
  color: #555;
  line-height: 1.5;
  margin-bottom: 0;
}

/* Sign in button styling */
.Sign-in-out-container button {
  border: 1.5px solid #2c4444 !important;
  border-radius: 8px;
  padding: 8px 16px;
  transition: all 0.3s ease;
}

.Sign-in-out-container button:hover {
  background-color: #213333 !important;
  color: white !important;
}
