/* Import your font */
@import url("https://fonts.googleapis.com/css2?family=Angkor&display=swap");

body {
  margin: 0;
  font-family: "Angkor", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Main app wrapper */
.App {
  text-align: center;
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/* Header container */
.App-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #213333;
  color: black;
  padding: 10px 5%;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: wrap;
}

/* Logo styling */
.logo {
  font-size: 24px;
  font-style: italic;
  /* color: rgb(88, 68, 58); */
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
}

.logo:visited {
  /* color: rgb(88, 68, 58); */
  color: #ffffff;
}

/* Sign in/out section */
.Sign-in-out-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 10px;
  flex-wrap: wrap;
  color: #ffffff;
}

.signed-in-buttons {
  display: flex;
  gap: 20px; /* adjust spacing here */
  align-items: center;
}
/* Responsive tweaks */
@media (max-width: 600px) {
  .App-header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 3%;
  }

  .Sign-in-out-container {
    width: 100%;
    justify-content: flex-start;
  }

  .logo {
    font-size: 18px;
  }
}
